anterior/BseTiendaService/src/META-INF/ws_ua.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.uruguayasistencia.com.uy/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.uruguayasistencia.com.uy/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.uruguayasistencia.com.uy/">
<s:element name="Auxilio_Mec_Cel">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tipoDocumento" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="numeroDocumento" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="latitud" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="longitud" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="tipoSolicitud" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="tipoAveria" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="esCliente" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="correspondeServicio" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="es0km" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ano" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="nombreCliente" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="coberturasRestantes" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="nroPoliza" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="tipoVehiculo" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="tipoCombustible" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="nroMatricula" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="nroMotor" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="nroChasis" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="textoUbicacion" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="Auxilio_Mec_CelResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Auxilio_Mec_CelResult" type="tns:Salida"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="Salida">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="COD_ERROR" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="DESC_ERROR" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="RESULTADO" type="s:string"/>
</s:sequence>
</s:complexType>
</s:schema>
</wsdl:types>
<wsdl:message name="Auxilio_Mec_CelSoapIn">
<wsdl:part name="parameters" element="tns:Auxilio_Mec_Cel"/>
</wsdl:message>
<wsdl:message name="Auxilio_Mec_CelSoapOut">
<wsdl:part name="parameters" element="tns:Auxilio_Mec_CelResponse"/>
</wsdl:message>
<wsdl:portType name="WebService1Soap">
<wsdl:operation name="Auxilio_Mec_Cel">
<wsdl:input message="tns:Auxilio_Mec_CelSoapIn"/>
<wsdl:output message="tns:Auxilio_Mec_CelSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Auxilio_Mec_Cel">
<soap:operation soapAction="http://www.uruguayasistencia.com.uy/Auxilio_Mec_Cel" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Auxilio_Mec_Cel">
<soap12:operation soapAction="http://www.uruguayasistencia.com.uy/Auxilio_Mec_Cel" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="WebService1">
<wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
<soap:address location="http://200.71.26.154/WS_BSE_CEL/WSBSE_CELULAR.ASMX"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>