anterior/DescargaArchivosWeb/WebContent/WEB-INF/rwwebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oracle.reports/rwclient/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://oracle.reports/rwclient/" name="RWWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://oracle.reports/rwclient/" schemaLocation="http://web-app:7777/reports/rwwebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="getServerInfo">
<part name="parameters" element="tns:getServerInfo"/>
</message>
<message name="getServerInfoResponse">
<part name="parameters" element="tns:getServerInfoResponse"/>
</message>
<message name="getJobInfo">
<part name="parameters" element="tns:getJobInfo"/>
</message>
<message name="getJobInfoResponse">
<part name="parameters" element="tns:getJobInfoResponse"/>
</message>
<message name="getAPIVersion">
<part name="parameters" element="tns:getAPIVersion"/>
</message>
<message name="getAPIVersionResponse">
<part name="parameters" element="tns:getAPIVersionResponse"/>
</message>
<message name="killJob">
<part name="parameters" element="tns:killJob"/>
</message>
<message name="killJobResponse">
<part name="parameters" element="tns:killJobResponse"/>
</message>
<message name="runJob">
<part name="parameters" element="tns:runJob"/>
</message>
<message name="runJobResponse">
<part name="parameters" element="tns:runJobResponse"/>
</message>
<portType name="RWWebService">
<operation name="getServerInfo">
<input message="tns:getServerInfo"/>
<output message="tns:getServerInfoResponse"/>
</operation>
<operation name="getJobInfo">
<input message="tns:getJobInfo"/>
<output message="tns:getJobInfoResponse"/>
</operation>
<operation name="getAPIVersion">
<input message="tns:getAPIVersion"/>
<output message="tns:getAPIVersionResponse"/>
</operation>
<operation name="killJob">
<input message="tns:killJob"/>
<output message="tns:killJobResponse"/>
</operation>
<operation name="runJob">
<input message="tns:runJob"/>
<output message="tns:runJobResponse"/>
</operation>
</portType>
<binding name="RWWebServicePortBinding" type="tns:RWWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getServerInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJobInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAPIVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="killJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="runJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RWWebService">
<port name="RWWebServicePort" binding="tns:RWWebServicePortBinding">
<soap:address location="http://web-app:7777/reports/rwwebservice"/>
</port>
</service>
</definitions>